@import "./keyframes.css";
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.material-icons {
  color: white;
}
.page-icons {
  color: black;
}

.sidenav-trigger {
  color: #000000;
}
.parallax img {
  max-height: auto; /* or a little bit higher */
  width: 100%;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

.parallax-container {
  min-height: 100vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

  .nameHeader {
    text-shadow: -1px 1px 5px #ffffff;
  }

  .listLinks {
    font-size: 40px;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .parallax-container {
    min-height: 100vh;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.parallax-container {
  min-height: 380px;
}

footer.page-footer {
  margin: 0;
}
@media only screen and (min-width : 992px) {
.parallax-container {
  min-height: 110vh;
}
}
@media only screen and (min-width : 800px) {
  .composerContainer {
    min-height: 35em;
  }
}
@media only screen and (max-width : 450px) {
  .composerContainer {
    min-height: 17em;
  }
}